header{

}

footer{
border: 2px solid blue;
background: #6cf;
position: relative;
}
#div_dogg{
position: absolute;
margin-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 400px;

}
#img_dog{
  height: 50px;
  width: 55px;
}

#address_doggy{
text-align: center;
  position: relative;
  left: 0px;
}
@media only screen and (max-width: 600px) {
#img_dog{
  margin: 1px;
}
#address_doggy{
  margin: 1px;
}
#img_dog{
  height: 10vh;
  width: 15vh;
}
}
